html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body{
    background:url(../images/bg.png) no-repeat center top #612b80;
    background-size:contain;
}
.root{
    width:100%;
    height:100%;
    position: relative;
}